@media screen and (min-width: 320px) {
  .projects-contacts {
    /* padding: 8rem 6rem 0 6rem; */
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
  }
  .contact-links h1 {
    color: var(--navColor2);
    text-align: center;
    padding: 3rem 0;
    font-size: 1.2rem;
    /* width: 50px; */
  }
  textarea {
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 1rem;
    width: 50vw;
    padding-top: 1rem;
    font-weight: normal;
  }
  .project-container-contacts {
    border: none;
    border-right: 15px solid var(--navColor2);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 4rem 0;
    position: relative;
  }
  .project-container-contacts h1 {
    margin-top: 2rem;
    font-size: 2rem;
    text-shadow: 0 0 1px black;
  }
  .project-container-contacts p {
    font-size: 1rem;
  }
  .description-contacts p {
    padding-top: 30px;
    font-size: 1rem;
  }
  .description-contacts {
    background-color: var(--navColor1);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .description-contacts h2 {
    font-size: 1.3rem;
    margin: 2rem 0;
    /* text-shadow: 0 0 1px black; */
  }
  .contact-icons {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    padding: 1rem 0.5rem;
  }
  .contact-links .fa-envelope-square,
  .contact-links .fa-linkedin,
  .contact-links .fa-github-square .fa-phone-square-alt {
    color: white;
  }

  .contact-icons:hover {
    text-shadow: none;
    color: var(--navColor2);
  }
  .contact-icons i:hover {
    color: var(--navColor2);
  }
  .contact-icons h2 {
    color: white;
  }
  .copy-number {
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* width: 205px; */
    padding-top: 1.3rem;
    margin: 0 0.3em;
  }
  .copy-number:hover {
    color: var(--navColor2);
  }
  .contacts {
    text-align: center;
    display: grid;
  }
  .mobile {
    font-size: 1.5rem;
    color: white;
  }
  .fa-clipboard {
    cursor: pointer;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 700px) {
  .projects-contacts {
    /* padding: 8rem 6rem 0 6rem; */
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
  }
  textarea {
    font-size: 1.3rem;
    width: 20vw;
  }

  .project-container-contacts {
    border: none;
    border-right: 30px solid var(--navColor2);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 4rem 0;
    position: relative;
  }
  .project-container-contacts h1 {
    margin-top: 2rem;
    font-size: 7rem;
    text-shadow: 0 0 1px black;
  }
  .project-container-contacts p {
    font-size: 1.2rem;
  }
  .description-contacts p {
    padding-top: 30px;
    font-size: 1.2rem;
  }
  .description-contacts {
    background-color: var(--navColor1);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .description-contacts h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
    /* text-shadow: 0 0 1px black; */
  }
  .contact-links h1 {
    color: var(--navColor2);
    text-align: center;
    padding: 3rem 0;
  }
  .contact-icons {
    font-size: 3rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
  }
  .contact-icons:hover {
    color: var(--navColor2);
    text-shadow: none;
  }
  .contact-icons i:hover {
    color: var(--navColor2);
  }
  .contact-icons h2 {
    color: white;
  }
  .copy-number {
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* width: 230px; */
    padding-top: 1.3rem;
  }
  .copy-number:hover {
    color: var(--navColor2);
  }
  .contacts {
    text-align: center;
    display: grid;
  }
  .mobile {
    font-size: 1.5rem;
    color: white;
  }
  .fa-clipboard {
    cursor: pointer;
    font-size: 1.5rem;
  }
  .contact-links h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1441px) {
  .projects-contacts p {
    font-size: 1.8rem;
  }
  .description-contacts h2 {
    font-size: 2.3rem;
    margin: 2rem 0;
  }
  .description-contacts p {
    padding-top: 30px;
    width: 100%;
  }
  .resume {
    font-size: 1.5rem;
    width: 130px;
  }
  .copy-number {
    width: 300px;
    padding-top: 1.3rem;
  }
}
