@media screen and (min-width: 320px) {
  .projects {
    overflow: hidden;
  }
  .project-wrapper-movies {
    padding: 1rem 1.2rem;
    min-height: 900px;
    overflow: hidden;
  }
  .project-container-movies {
    border-top: 1px solid black;
    margin-top: 2.9rem;
    padding: 1.5rem 0;
    position: relative;
  }
  .project-container-movies p {
    font-size: 0.8rem;
  }
  .project-container-movies h1 {
    margin-top: 3rem;
    font-size: 2.2rem;
  }
  .github-icon-movies-1 {
    position: absolute;
    top: -45px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    z-index: 8;
  }
  .git-hub-description-movies-1 {
    display: none;
  }
  .github-icon-movies-2 {
    position: absolute;
    top: -45px;
    left: 35px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    z-index: 8;
  }
  .git-hub-description-movies-2 {
    display: none;
  }
  .link-icon-movies {
    position: absolute;
    top: -45px;
    left: 70px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    z-index: 8;
  }
  .link-description-movies {
    display: none;
  }
  .project-description-movies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
  .project-description-movies p {
    font-size: 0.8rem;
    width: 82%;
  }
  .project-description-movies h2 {
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    font-size: 1.3rem;
    margin: 2rem 0;
    /* text-shadow: 0 0 1px black; */
  }
  .scroll-down-icon-movies {
    position: absolute;
    width: 20px;
    left: 0;
    top: 140px;
  }
  .frontend-movies {
    background: var(--navColor2);
    position: relative;
    overflow: hidden;
    /* width: 98.9vw; */
    min-height: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .movies-img {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(10, 10, 10, 0.491);
  }
  .quotes-movies {
    position: absolute;
    top: 57vh;
    right: 37vw;

    background-size: 160px;
    /* opacity: 0.7; */
    height: 80px;
    width: 80px;
  }
  .find-movie {
    /* transform: rotate(270deg); */
    width: 25px;
    position: absolute;
    top: 65vh;
    right: 4vw;
    cursor: pointer;
  }
  .movies-h2 {
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    position: absolute;
    font-style: italic;
    /* font-size: 2rem; */
    top: 59vh;
    right: 6vw;
    width: 140px;
  }
  .movies-text {
    position: absolute;
    font-style: italic;
    /* font-size: 2rem; */
    top: 59vh;
    right: 6vw;
    width: 140px;
  }
}
@media screen and (min-width: 700px) {
  .project-wrapper-movies {
    padding: 8rem 6rem 0 6rem;
    height: 100vh;
  }
  .project-container-movies {
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 1rem 0 4rem 0;
    position: relative;
  }
  .project-container-movies h1 {
    margin-top: 2rem;
    font-size: 8rem;
    text-shadow: 0 0 1px black;
  }
  .github-icon-movies-1 {
    left: initial;
    position: absolute;
    right: 45px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .git-hub-description-movies-1 {
    display: initial;
    /* display: block; */
    position: absolute;
    right: -19px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .github-icon-movies-1:hover .git-hub-description-movies-1 {
    visibility: visible;
    opacity: 1;
  }
  .github-icon-movies-2 {
    left: initial;
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .git-hub-description-movies-2 {
    display: initial;
    position: absolute;
    right: -19px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .github-icon-movies-2:hover .git-hub-description-movies-2 {
    visibility: visible;
    opacity: 1;
  }
  .link-icon-movies {
    left: initial;
    position: absolute;
    right: 90px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .link-description-movies {
    display: initial;
    position: absolute;
    right: -25px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  /* .fa-link:hover {
    color: black;
  } */
  .link-icon-movies:hover .link-description-movies {
    visibility: visible;
    opacity: 1;
  }

  .project-description-movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: 1rem;
  }
  .project-description-movies h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  .project-container-movies p {
    font-size: 1.1rem;
  }
  .project-description-movies p {
    font-size: 1.1rem;
  }
  .scroll-down-icon-movies {
    position: absolute;
    width: 25px;
    left: -66px;
    top: 0;
  }
  .frontend-movies {
    background: var(--navColor2);
    position: relative;
    overflow: hidden;
    /* width: 98.9vw; */
    min-height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .movies-img {
    width: 98%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(10, 10, 10, 0.491);
  }
  .underscore-movies {
    display: none;
  }
  .find-movie {
    width: 35px;
    position: absolute;
    top: 570px;
    right: 350px;
    cursor: pointer;
  }
  .movies-h2 {
    position: absolute;
    font-style: italic;
    top: 490px;
    right: 240px;
    width: 180px;
    font-size: 2rem;
  }
  .movies-text {
    position: absolute;
    font-style: italic;
    top: 460px;
    right: 240px;
    width: 180px;
    font-size: 2rem;
    background: #000;
    color: white;
  }
  .project-link:hover {
    color: var(--navColor2);
  }
}

@media screen and (min-width: 1441px) {
  .projects-movies p {
    font-size: 1.8rem;
  }
  .project-description-movies h2 {
    font-size: 2.3rem;
    margin: 2rem 0;
  }
  .project-description-movies p {
    /* font-size: 1rem; */
    padding-top: 30px;
    width: 100%;
  }
  .frontend-movies {
    min-height: 1300px;
  }
}
