@media screen and (min-width: 320px) {
  .project-wrapper-hp {
    padding: 1rem 1.2rem;
    min-height: 1150px;
    overflow: hidden;
  }
  .project-container-hp {
    border-top: 1px solid black;
    margin-top: 2.9rem;
    padding: 1.5rem 0;
    position: relative;
  }
  .github-icon-hp {
    position: absolute;
    top: -45px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
  }
  .link-icon-hp {
    position: absolute;
    top: -45px;
    left: 35px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
  }
  .git-hub-description-hp {
    display: none;
  }
  .link-description-hp {
    display: none;
  }
  .project-container-hp h1 {
    margin-top: 2rem;
    font-size: 2.2rem;
    width: 150px;
  }
  .project-container-hp p {
    font-size: 0.8rem;
  }
  .project-description-hp {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 1rem;
  }
  .project-description-hp h2 {
    /* font-size: 1.3rem; */
    margin: 2rem 0;
  }
  .project-description-hp p {
    font-size: 1rem;
    width: 82%;
  }
  /* .project-description-hp div:nth-child(2) {
    padding-left: 3rem;
  } */
  .scroll-down-icon-hp {
    position: absolute;
    width: 20px;
    left: 0;
    top: 3vh;
  }
  .solution-hp {
    position: absolute;
    top: -6vh;
    right: 0vh;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    /* width: 90%; */
  }
  .solution-hp p {
    margin: 0;
    font-size: 1rem;
    width: 100%;
  }
  .solution-hp h2 {
    margin: 0;
  }
  .frontend-hp {
    position: relative;
    background-color: rgba(180, 167, 167, 0.121);
    /* overflow: hidden; */
    /* width: 98.9vw; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }
  .dell-img {
    width: 300px;
    position: absolute;
    top: -100px;
    left: 15px;
  }
  .zoom {
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  .zoom img {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
  }
  .zoom-lg {
    display: none;
  }
  .hp-frontend {
    position: relative;
  }
  .hp-frontend-description {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    /* gap: 10rem; */
  }
  .hp-frontend-spec {
    position: absolute;
    top: -500px;
    left: 0rem;
    font-size: 6rem;
    width: 100%;
    padding: 20rem 0 25rem 1rem;
    background: linear-gradient(
      rgba(255, 255, 255, 0.63) 40%,
      rgba(255, 255, 255, 0)
    );
  }
  .hp-frontend-spec span {
    color: #ff4060;
  }
  .hp-frontend-spec span:hover {
    color: #ff4060b3;
  }
  .hp-frontend-description p {
    font-size: 1rem;
    padding: 9rem 1rem 0 1rem;
    /* width: 85%; */
  }
  .hp-frontend-h2 {
    position: absolute;
    top: -300px;
    left: 5rem;
    width: 35%;
    padding-bottom: 2.5rem;
    /* text-shadow: 0 0 1px black; */
  }
  .keep-moving-container {
    position: relative;
  }
  .keep-moving-icon {
    object-position: 0 -38px;
    width: 60px;
    position: absolute;
    top: 380px;
    left: 40%;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .display {
    display: block;
  }
  .backend-hp {
    min-height: 50vh;
    position: relative;
  }
  h2.backend-hp-banner {
    display: none;
  }

  .backend-hp-description {
    position: relative;
    right: 30%;
    top: -5vh;
  }
  .backend-hp-description p {
    position: absolute;
    right: -4vh;
    font-size: 1rem;
    width: 70%;
  }

  h2.backend-hp-title {
    position: absolute;
    right: -22vw;
    top: 750px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 3rem;
    margin-top: 1rem;
    padding: 3rem 0;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.306);
    /* text-shadow: 0 0 1px black; */
  }
  .end-hp {
    position: relative;
    margin-top: 2rem;
    width: 15px;
    height: 15px;
    background-color: var(--navColor1);
  }
}
@media screen and (min-width: 700px) {
  .projects-hp {
    overflow: hidden;
  }
  .project-wrapper-hp {
    padding: 8rem 6rem 0 6rem;
    min-height: 1150px;
  }
  .project-container-hp {
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 1rem 0 4rem 0;
    position: relative;
  }
  .github-icon-hp {
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .git-hub-description-hp {
    position: absolute;
    right: -20px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .github-icon-hp:hover .git-hub-description-hp {
    display: initial;
    visibility: visible;
    opacity: 1;
  }
  .link-icon-hp {
    left: initial;
    position: absolute;
    right: 45px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .link-description-hp {
    display: initial;
    position: absolute;
    right: -25px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  /* .fa-link:hover {
    color: black;
  } */
  .link-icon-hp:hover .link-description-hp {
    visibility: visible;
    opacity: 1;
  }
  .solution-hp {
    top: 10vh;
    padding: 0;
  }
  .project-container-hp h1 {
    margin-top: 2rem;
    font-size: 8rem;
    text-shadow: 0 0 1px black;
    width: 100%;
  }

  .project-description-hp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 1rem;
  }
  .project-description-hp h2 {
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    font-size: 1.8rem;
    margin: 2rem 0;
    /* text-shadow: 0 0 1px black; */
  }
  .scroll-down-icon-hp {
    position: absolute;
    width: 25px;
    left: -687px;
    top: 110px;
  }
  .project-container-hp p {
    font-size: 1.2rem;
  }
  .project-description-hp p {
    font-size: 1.2rem;
  }
  .frontend-hp {
    position: relative;
    background-color: rgba(180, 167, 167, 0.121);
    /* overflow: hidden; */
    width: 98.9vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }
  .dell-img {
    width: 800px;
    position: absolute;
    top: -300px;
    left: 10px;
  }
  .zoom {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .zoom img {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%);
  }
  .zoom-lg {
    display: block;
  }

  .hp-frontend-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }
  .hp-frontend-description p {
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
  }
  .hp-frontend-spec {
    position: absolute;
    top: -660px;
    left: 21.8rem;
    font-size: 12.5rem;
    /* width: 100%; */
    padding-top: 15rem;
    background: linear-gradient(
      rgba(255, 255, 255, 0.63) 40%,
      rgba(255, 255, 255, 0)
    );
    /* border-bottom: 1px solid black; */
    /* width: 35%; */
    padding-bottom: 25rem;
  }
  .hp-frontend-spec span {
    color: #ff4060;
  }
  .hp-frontend-spec span:hover {
    color: #ff4060b3;
  }
  .hp-frontend-h2 {
    position: absolute;
    top: -300px;
    left: 5rem;
    width: 35%;
    padding-bottom: 2.5rem;
    /* text-shadow: 0 0 1px black; */
  }

  .keep-moving-container {
    position: relative;
  }
  .keep-moving-icon {
    object-position: 0 -50px;
    width: 80px;
    position: absolute;
    top: 100px;
    left: 25%;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .display {
    display: block;
  }
  .backend-hp {
    height: 100vh;
    position: relative;
  }
  h2.backend-hp-banner {
    display: block;
    position: absolute;
    background-color: black;
    left: 0;
    top: -5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 5rem;
    margin-top: 1rem;
    padding: 3rem 2rem 50rem 10rem;
    width: 29%;
    border-radius: 3px;
  }
  h2.backend-hp-banner span {
    margin: 0.7rem;
  }
  .shine-1 {
    animation: shine 3.6s linear 0.5s both infinite;
  }

  .shine-2 {
    animation: shine 3.6s linear 1s infinite;
  }

  .shine-3 {
    animation: shine 3.6s linear 1.5s infinite;
  }

  .shine-4 {
    animation: shine 3.6s linear 2s infinite;
  }

  .shine-5 {
    animation: shine 3.6s linear 2.5s infinite;
  }

  .shine-6 {
    animation: shine 3.6s linear 3s infinite;
  }

  .shine-7 {
    animation: shine 3.6s linear 3.5s infinite;
  }

  @keyframes shine {
    0% {
      color: unset;
      text-shadow: none;
    }
    85% {
      color: unset;
      text-shadow: none;
    }
    100% {
      color: white;
      text-shadow: 0 0 4px rgb(255, 255, 255);
    }
  }

  .backend-hp-description {
    position: absolute;
    right: 25%;
    top: 400px;
    width: 400px;
  }
  h2.backend-hp-title {
    position: absolute;
    left: 80%;
    top: 57rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 6rem;
    margin-top: 1rem;
    padding: 3rem 0;
    border-radius: 3px;
    /* text-shadow: 0 0 1px black; */
  }
  .backend-hp-description p {
    font-size: 1.2rem;
    width: 100%;
  }
  .project-container-hp p {
    font-size: 1.2rem;
  }
  .project-description-hp p {
    font-size: 1.2rem;
  }
  .end-hp {
    position: relative;
    margin-top: 2rem;
    width: 15px;
    height: 15px;
    background-color: var(--navColor1);
  }
  .zoom-sml {
    display: none;
  }
  .quotes-hp {
    position: absolute;
    top: 1100px;
    right: 250px;
    background-size: 160px;
    height: 80px;
    width: 80px;
  }
  .find-hp {
    transform: rotate(270deg);
    width: 35px;
    position: absolute;
    top: 1150px;
    right: 150px;
    cursor: pointer;
  }
  .hp-h2 {
    position: absolute;
    font-style: italic;
    top: 1090px;
    right: 210px;
    width: 60px;
    font-size: 2rem;
  }
  footer {
    position: relative;
    height: 0;
  }
  .scroll-up-btn {
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  .scroll-down {
    width: 40px;
    transform: rotate(180deg);
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
    margin: 0;
    cursor: pointer;
    opacity: 0.85;
    z-index: 9;
  }
}
@media screen and (min-width: 1441px) {
  .project-wrapper-hp {
    min-height: 2000px;
  }
  .project-description-hp h2,
  .backend-hp h2 {
    font-size: 2.3rem;
  }
  .project-description-hp p {
    padding-top: 30px;
    width: 90%;
  }
  .projects-hp p {
    font-size: 1.8rem;
  }
  .solution-hp {
    top: 400px;
  }
  /* .hp-frontend-spec {
    position: absolute;
    top: -660px;
    left: 21.8rem;
    font-size: 12.5rem;
  } */
  h2.backend-hp-banner {
    font-size: 7rem;
    margin-top: 2rem;
    padding: 3rem 2rem 20rem 24rem;
    width: 29%;
    border-radius: 3px;
  }
  .dell-img {
    width: 1000px;
    position: absolute;
    top: -400px;
    left: 10px;
  }
  .hp-frontend-spec {
    height: 150vh;
    top: -100vh;
    font-size: 17rem;
    padding-top: 40rem;
    padding-bottom: 0;
  }
  .keep-moving-icon {
    object-position: 0 -75px;
    width: 120px;
    top: 200px;
    left: 22%;
    cursor: pointer;
    z-index: 9;
  }
  .backend-hp-description {
    position: absolute;
    right: 25%;
    top: 600px;
    width: 800px;
  }
  h2.backend-hp-title {
    left: 80%;
    top: 45rem;
    font-size: 9rem;
    margin-top: 1rem;
    padding: 3rem 0;
  }
  .backend-hp-description p {
    font-size: 1.8rem;
    width: 100%;
  }
  .hp-frontend-spec {
    position: absolute;
    top: -400%;
    left: 10%;
  }
}
