@media screen and (min-width: 320px) {
  .project-wrapper-ttt {
    padding: 1rem 1.2rem;
    min-height: 1000px;
  }
  .project-container-ttt {
    border-top: 1px solid black;
    margin-top: 2.9rem;
    padding: 1.5rem 0;
    position: relative;
  }
  .project-container-ttt p {
    font-size: 0.8rem;
  }
  .project-container-ttt h1 {
    margin-top: 3rem;
    font-size: 2.2rem;
  }
  .github-icon-ttt {
    position: absolute;
    top: -45px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
  }
  .link-icon-ttt {
    position: absolute;
    top: -45px;
    left: 35px;
    font-size: 1.7rem;
    padding-left: 4px;
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
  }
  .git-hub-description-ttt {
    display: none;
  }
  .link-description-ttt {
    display: none;
  }
  .project-description-ttt {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
  .project-description-ttt p {
    font-size: 1rem;
    width: 82%;
  }
  .project-description-ttt h2 {
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    font-size: 1.3rem;
    margin: 2rem 0;
  }
  .arrow {
    position: relative;
  }
  .scroll-down-icon-TTT {
    position: absolute;
    width: 20px;
    left: 0;
    top: 100px;
  }
  .frontend-TTT {
    position: relative;
    background-color: #252a2e;
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  .TTT-img {
    width: 80%;
  }
  .TTT-img-lg {
    display: none;
  }
  .TTT-img-sml {
    display: block;
  }
  .TTT-img-xlg {
    display: none;
  }
  .play-container-ttt {
    position: relative;
  }
  .solution-ttt {
    position: absolute;
    top: 68vh;
    left: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    /* max-width: 69%; */
  }
  .solution-ttt p {
    margin: 0;
    font-size: 1rem;
    /* max-width: 80%; */
  }
  .solution-ttt h2 {
    text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
    font-size: 1.3rem;
    margin: 2rem 0;
    max-width: 80%;
  }
}
@media screen and (min-width: 700px) {
  .project-wrapper-ttt {
    padding: 8rem 6rem 0 6rem;
    min-height: 1300px;
  }
  .project-container-ttt {
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 1rem 0 4rem 0;
    position: relative;
  }
  .project-container-ttt h1 {
    margin-top: 2rem;
    font-size: 7rem;
    text-shadow: 0 0 1px black;
  }
  .github-icon-ttt {
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .git-hub-description-ttt {
    display: initial;
    position: absolute;
    right: -19px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .github-icon-ttt:hover .git-hub-description-ttt {
    visibility: visible;
    opacity: 1;
  }
  .solution-ttt {
    position: initial;
    padding-top: 6rem;
    width: initial;
  }
  .link-icon-ttt {
    left: initial;
    position: absolute;
    right: 45px;
    top: 15px;
    font-size: 2rem;
    z-index: 8;
  }
  .link-description-ttt {
    display: initial;
    position: absolute;
    right: -23px;
    top: 50px;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 2px;
    background: var(--navColor1);
    color: white;
    text-align: center;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.491);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .link-icon-ttt:hover .link-description-ttt {
    visibility: visible;
    opacity: 1;
  }
  .project-description-ttt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: 1rem;
  }
  .project-description-ttt h2 {
    font-size: 1.8rem;
    margin: 2rem 0;
    /* text-shadow: 0 0 1px black; */
  }
  .project-container-ttt p {
    font-size: 1.2rem;
  }
  .project-description-ttt p {
    font-size: 1.2rem;
  }
  .project-description-ttt div:nth-child(2) {
    padding-right: 5rem;
  }
  .scroll-down-icon-TTT {
    position: absolute;
    width: 25px;
    left: -66px;
    top: 0;
  }
  .frontend-TTT {
    flex-direction: row;
    padding: 0 4rem;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  .TTT-img {
    width: 25%;
  }
  .TTT-img-sml {
    display: none;
  }
  .TTT-img-lg {
    display: block;
  }
  .TTT-img-xlg {
    display: none;
  }
  .play-container-ttt {
    position: relative;
  }
  .play-it {
    position: absolute;
    top: -80vh;
    left: 27rem;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
  }
  .play-it:hover {
    background-color: #f4f4f4;
    color: black;
    font-size: 3rem;
  }
  .find-ttt {
    width: 35px;
    position: absolute;
    top: -80px;
    right: 350px;
    cursor: pointer;
  }
  .ttt-h2 {
    position: absolute;
    font-style: italic;
    top: -125px;
    right: 250px;
    width: 180px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1441px) {
  .projects-ttt p {
    font-size: 1.8rem;
  }
  .project-description-ttt h2 {
    font-size: 2.3rem;
    margin: 2rem 0;
  }
  .project-description-ttt p {
    /* font-size: 1rem; */
    padding-top: 30px;
    width: 100%;
  }
  .frontend-TTT {
    min-height: 1300px;
  }
  .TTT-img-lg {
    display: none;
  }
  .TTT-img-xlg {
    display: block;
  }
}
