/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
:root {
  --navColor1: #252a2e;
  --navColor2: #ffd22e;
  --navColor3: #ffc800;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
h1 {
  text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
}
p {
  font-size: 1.1rem;
  text-shadow: 0 0.3px 0.5px rgba(10, 10, 10, 0.491);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #6d7377;
}
a:hover {
  color: #000000;
  text-decoration: none;
  transition: 0.1s;
}
.hvr-icon-push,
.fa-link,
.fas {
  color: rgb(161, 161, 161);
  text-shadow: none;
  z-index: 9;
}
.hvr-icon-push:hover,
.fa-link:hover,
.fas:hover {
  color: var(--navColor2);
  text-shadow: none;
}
